<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanMyPlate</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">

    <div class="logo">
        PlanMyPlate 🍽️
    </div>

    <a href="/dashboard"
       class="nav-home-btn">

        🏠 Dashboard

    </a>

</div>

    <div class="hero">
        <h1>Smart Meal Planning Made Easy</h1>

        <p>
            Organize recipes, generate AI meals,
            and reduce food waste effortlessly.
        </p>

        <a href="/login" class="btn">Get Started</a>
    </div>

</body>
</html>