<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanMyPlate</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link
    rel="apple-touch-icon"
    href="{{ url_for('static', filename='icon.png') }}">

<link
    rel="manifest"
    href="{{ url_for('static', filename='manifest.json') }}">
    <meta
    name="theme-color"
    content="#4CAF50">

<meta
    name="mobile-web-app-capable"
    content="yes">

<meta
    name="apple-mobile-web-app-capable"
    content="yes">

<meta
    name="apple-mobile-web-app-status-bar-style"
    content="default">

<meta
    name="apple-mobile-web-app-title"
    content="PlanMyPlate">
</head>
<body>

    <div class="navbar">

    <div class="logo">
        PlanMyPlate 🍽️
    </div>

    <a href="/dashboard"
       class="nav-home-btn">

        🏠 Dashboard

    </a>

</div>

    <div class="hero">
        <h1>Smart Meal Planning Made Easy</h1>

        <p>
            Organize recipes, generate AI meals,
            and reduce food waste effortlessly.
        </p>

        <a href="/login" class="btn">Get Started</a>
    </div>
<script>

if ("serviceWorker" in navigator) {

    navigator.serviceWorker.register(
        "/static/service-worker.js"
    );
}

</script>
</body>
</html>