<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>My Favorite Recipes</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
          <link
    rel="apple-touch-icon"
    href="{{ url_for('static', filename='icon.png') }}">

<link
    rel="manifest"
    href="{{ url_for('static', filename='manifest.json') }}">
    <meta
    name="theme-color"
    content="#4CAF50">

<meta
    name="mobile-web-app-capable"
    content="yes">

<meta
    name="apple-mobile-web-app-capable"
    content="yes">

<meta
    name="apple-mobile-web-app-status-bar-style"
    content="default">

<meta
    name="apple-mobile-web-app-title"
    content="PlanMyPlate">

</head>

<body>

    <div class="navbar">

    <a href="/dashboard" class="logo">
        PlanMyPlate 🍽️
    </a>

</div>

    <div class="hero">

        <h1>My Favorite Recipes 🍽️</h1>

        {% for recipe in recipes %}

        <div class="recipe-card">

            <h2 class="recipe-title">
                {{ recipe[2] }}
            </h2>

            <div class="recipe-section">

                <h3>🥕 Ingredients</h3>

                <div class="recipe-text">
                    {{ recipe[3] }}
                </div>

            </div>

            <div class="recipe-section">

                <h3>👨‍🍳 Instructions</h3>

                <div class="recipe-text">
                    {{ recipe[4] }}
                </div>

            </div>

            <a href="/delete_recipe/{{ recipe[0] }}"
               class="btn delete-btn">

                Delete ❌

            </a>

        </div>

        {% endfor %}

    </div>
<script>

if ("serviceWorker" in navigator) {

    navigator.serviceWorker.register(
        "/static/service-worker.js"
    );
}

</script>
</body>
</html>